
body{
    Font-family: "Comic Sans MS";
    margin: 0;
    background-color: rgba(59, 46, 44, 0.5);
    
}
.container{
    margin: 0;

    display: grid;
    grid-template: 75px 600px 1fr / 250px 1fr 150px;
    height: 100vh;
    background:none;
    grid-template-areas: "menuizquierdo cabecera cabecera"
                        "menuizquierdo contenido contenido"
                        "footer footer footer";
}
.cabecera {
    /*border: 1px solid red;*/
    grid-area: cabecera;
    position:relative;
    margin: 0;
    background:-webkit-gradient(radial, 165 0, 0, 220 -257, 465, from(#000300), to(#153D53));
}
.menuizquierdo{
    /*border: 1px solid red;*/
    border-right: solid white 1px;
    border-top-right-radius: 50%;
    grid-area: menuizquierdo;
    position:relative;
    /*background-color: rgba(51, 42, 30, 0.7);*/
    background:-webkit-gradient(radial, 165 0, 0, 220 -257, 465, from(#000300), to(#153D53));
    height: auto;
    left: auto;
    
}
.contenido {
    /*border: 1px solid red;*/
    grid-area: contenido;
    cursor: pointer;
    position: relative;
    display: block;
    height: auto;
    left: auto;

}
.logotipo{
    margin: 0%;
    margin-left: 15%;
}
.post-image {
    margin: 0;
    height: 100%;

}
.post-image img {
    height: 100%;
    width: 100%;
    vertical-align: top;

}
.footer {
    /*border: 1px solid red;*/
    grid-area: footer;
    position:relative;
    background:-webkit-gradient(radial, 165 0, 0, 220 -257, 465, from(#000300), to(#153D53));
}

.cabecera h1{
    margin:0;
    padding: 0;
    border: 0;
    font-size: 25px;
    margin-top: 20px;
    width: 250px;
    color: aliceblue;
    position: relative;
    margin-left: 50%;
}
.menu{
    display:block;
    font-size: 12px;
    color: aliceblue;
    margin: 0;
    margin-top: 0;
    
}
.menu ul{
    margin: 0;
    padding: 0;
    margin-left: 15px;
}

.menu li{
    display:block;
    cursor: pointer;
    margin-bottom:10px;
}

.menu li:before{
    content: '>';
    font-size: 20px;
    line-height: 20px;
    color: white;
  }
.menu li:hover{
    /*color: rgba(165, 68, 96, 1);*/
    transform: scale(1.1);
    border-bottom: 0.1px;
    border:0.2px solid white ;
    border-radius:5%;
    box-shadow: 0px 0px 2px 2px #ec731e;
}
.BotonesRegistro,.BotonesReporte{
    display: none;
    margin: 0;
    border: 0;
    padding: 0;
    position:fixed;
    width: 82.5%;
    height: 5%;
}
.BotonesReporte{
    bottom: 24%;
}
.BotonesRegistro{
    bottom: 12%;
}
.btn {
    border-radius: 12px;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    background: #fd324e;
    background: linear-gradient(to left, #fe344e, #ff7250);
    position:fixed;
    width: 150px;
    height: 5%;
}
.btn:hover{
    filter: opacity(.5);
    transform: scale(1.1);
}


.btnnuevo,.btnImprimir{
    margin-left: 1%;
    
}
.btnactualizar, .btnVista{
    margin-left: 12%;
}
.btnguardar,.btnSalirreporte{
    margin-left: 24%;
}
.btneliminar{
    margin-left: 36%;
}
.btnsalir{
    margin-left: 48%;
}

.habilitarbotonesregistro{
    display: inline-block;
    bottom: 12%;
}
.deshabilitarbotonesregistro{
    display: none;
    bottom: 12%;
}

/*
.imgagenfondo:hover{
    filter: opacity(.5);
    filter: blur(2px);    
}
.imgagenfondo{
    position: fixed;

}*/